In [2]:
 pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=d21563aae40788957c1925b7abcbf283a6c0ab7ad79b45954135563d9de71150
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [4]:
from google.colab import drive
drive._mount('/content/drive')

Mounted at /content/drive

In [5]:
dataset = pd.read_csv('/content/drive/MyDrive/DataMining/basket.csv')
dataset.head()

           shrimp    almonds     avocado  ... frozen smoothie spinach olive oil
0         burgers  meatballs        eggs  ...             NaN     NaN       NaN
1         chutney        NaN         NaN  ...             NaN     NaN       NaN
2          turkey    avocado         NaN  ...             NaN     NaN       NaN
3   mineral water       milk  energy bar  ...             NaN     NaN       NaN
4  low fat yogurt        NaN         NaN  ...             NaN     NaN       NaN

[5 rows x 20 columns]

In [6]:
#Getting the list of transactions from the dataset
transactions = []
for i in range(0, 300):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

In [11]:
# Training Apriori algorithm on the dataset
rule_list = apriori(transactions, min_support = 0.003, min_confidence = 0.3, min_lift = 3, min_length = 2)
rule_list

In [ ]:
results= list(rule_list)  
results

In [ ]:
for item in results:  
    pair = item[0]   
    items = [x for x in pair]  
    print("Rule: " + items[0] + " -> " + items[1])  
  
    print("Support: " + str(item[1]))  
    print("Confidence: " + str(item[2][0][2]))  
    print("Lift: " + str(item[2][0][3]))  
    print("=====================================")

FP Growth

In [ ]:
from mlxtend.frequent_patterns import fpgrowth
frequent_itemsets = fpgrowth(dataset, min_support=0.6, use_colnames=True)
frequent_itemsets